/* Boutons */
.btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    padding: 12px 28px;
    border-radius: 50px;
    font-weight: 600;
    transition: var(--transition);
    border: none;
    cursor: pointer;
    box-shadow: var(--shadow);
}

.btn:hover {
    background-color: var(--primary-dark);
    transform: translateY(-3px);
}

.btn-secondary {
    background-color: var(--accent-color);
    color: var(--dark-color);
}

.btn-secondary:hover {
    background-color: #ffb700;
}